.heading{
    width: 100%;
    text-align: center;
}

.heading p{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#start,#status{
    font-size: 22px;
}

canvas{
    z-index: 9;
}

h4{
    bottom: 0;
    background-color: white;
    line-height: 3;
    margin: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.modal-dialog{
    width: 90%;
}

.images{
    display: inline-block;
    width: 45%;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}